| $('#graph-#{@graph.id}').remove();
| $('#graphFunctions').replaceWith('<ul id="graphFunctions" class="navbar-nav"></ul>');
| $('.tools-bar ul').replaceWith('<ul id="tools-bar"></ul>');
| $('#working_area').replaceWith('<div id="working_area"></div>');