| $('#graph-#{@graph.id}').remove();
| $('#deleteNav a').replaceWith('<a></a>');
| $('.tools-bar ul').replaceWith('<ul id="tools-bar"></ul>');
| $('#working_area').replaceWith('<div id="working_area"></div>');