| $('#deleteNav a').replaceWith('
= j render template: 'graphs/destroy.html.slim'
| ');
| $('#tools-bar').replaceWith('
= j render partial: 'application/tools_bar.html.slim'
| ');
| $('#working_area').replaceWith('
= j render partial: 'application/working_area.html.slim'
| ');