// Place all the styles related to the Graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cross-delete-text {
  line-height: -moz-block-height;
  font-size: medium;
}