ul.nav.flex-column
  li.nav-item
    = link_to image_tag('add_node_icon.png', size: '35x35', alt: 'Create node'),
              graph_nodes_path(@graph.id),
              class: 'btn btn-light',
              method: :post,
              remote: true  
  li.nav-item
    = link_to image_tag('add_common_arc_icon.png', size: '35x35', alt: 'Create common arc'),
              graph_arcs_path(@graph.id, type: 'common'),
              class: 'btn btn-light',
              remote: true
  li.nav-item
     = link_to image_tag('add_oriented_arc_icon.png', size: '35x35', alt: 'Create oriented arc'),
              graph_arcs_path(@graph.id, type: 'oriented'),
              class: 'btn btn-light',
              remote: true
  li.nav-item
    = link_to image_tag('update_elements_icon.png', size: '35x35', alt: 'Update'),
              graph_arcs_path(@graph.id, type: 'common'),
              class: 'btn btn-light',
              remote: true
  li.nav-item
    = link_to image_tag('delete_elements_icon.png', size: '35x35', alt: 'Delete elements'),
              delete_elements_graph_path(@graph.id),
              class: 'btn btn-light',
              data: { confirm: "Are you sure?" },
              remote: true